<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebcamImageCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebcamImageCapture.Properties.Settings>
            <setting name="SnapshotFrequency" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WebcamIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoShowLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CapturePath" serializeAs="String">
                <value>D:\Captures</value>
            </setting>
            <setting name="CaptureWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="CaptureHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ResolutionIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DiskLimit" serializeAs="String">
                <value>300</value>
            </setting>
        </WebcamImageCapture.Properties.Settings>
    </userSettings>
</configuration>